body {
    width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #ffcc00;
    height: 150px;
    margin-top: 1%;

}

aside {
    background-color: #9b59b6;
    height: 300px;
    width: 300px;
    margin-right: 23px;
}

section {
    background-color: #1abc9c;
    height: 300px;
    width: 876px;
}

main {
    display: flex;
    padding-bottom: 1%;
    padding-top: 1%;
}


footer {
    background-color: #e74c3c;
    height: 100px;
}