* {
    background-color: lightgray;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
                'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;     
    background-color: lightgray;
}

.todo {
    background-color: white;
    width: 400px;          
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.todoo {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    width: 100%;
}

.todoo h2{
    background-color: #1177de;
    text-align: center;
    padding: 10px;
    width: 100%;
    color: white;
    border-radius: 5px;
}

.todo1 { 
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: block;
    width: 100%;
}

.todo1 form{
    background-color: white;
    display: flex;            
    width: 100%;
    margin-bottom: 10px;
}

.todo1 input {
    border: 1px solid lightgrey;
    background-color: white;
    padding: 5px;
}

#task {
    width: 170px;
    flex-grow: 1;
}

#submit {
    background-color: #588157;
    color: white;
    transition: 0.3s;
}

#submit:hover {
    background-color: #344e41;
    color: white;
}

.todo1 ul {
    list-style-type: none;
    background-color: white;
    padding: 0;   
    margin: 0; 
    width: 100%;            
}

.todo1 li{
    background-color: #95bfee;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    width: 100%;            
    text-align: center;  
}

.todo1 li a{
    text-decoration: none;
    background-color: #95bfee;
    color: white;
    text-align: center;
}

.todo1 li, .todo1 li a{
    transition: 0.3s;
}

.todo1 li:hover, 
.todo1 li:hover a {
    background-color: #1177de;
}



